<div class="main" id="flash">
	<div id="main_flash">
		<ul id="menu1" style="display: block;">
			<li>
<script src="__CONTENT__/js/swfobject.js" type="text/javascript"></script>
<div id="flashFCI">
<script type="text/javascript">
   var s1 = new SWFObject("__CONTENT__/swf/focusFlash.swf", "mymovie1", "1000", "380", "8", "#ffffff");
   s1.addParam("wmode", "transparent");
   s1.addParam("AllowscriptAccess", "sameDomain");
   s1.addVariable("bigSrc", "{$bigImg}");
   s1.addVariable("href", "||");
   s1.addVariable("txt", "||");
   s1.addVariable("width", "1000");
   s1.addVariable("height", "380");
   s1.write("flashFCI");
 </script>				
			</li>
		</ul>
		{foreach $adDown as $k=>$v}
		<ul id="menu{$k+2}" {if $k!=0}style="display: none;"{/if}>
			<li><img src="__UPLOAD__/{$v['img']}"></li>
		</ul>
		{/foreach}
	</div>
	<div id="flash_btm">
		<ul>
		<li id="nav_1" style="display:none;"><a href="#"></a></li>
			{foreach $adDown as $k=>$v}
				<li id="nav_{$k+2}" onmouseover="showMenu('nav_{$k+2}','menu{$k+2}')"><a href="#">{$v['title']}</a></li>
			{/foreach}
		</ul>
	</div>
</div>
