{include "Public/header"}
<link href="__CONTENT__/css/basicStyle.css" rel="stylesheet" type="text/css">
<link href="__CONTENT__/css/inner.css" rel="stylesheet" type="text/css">

<div class="main" id="inner_banner"><img src="__CONTENT__/images/03_news.jpg"></div>
<div class="main" id="center">

	<div id="left" class="sidebox">
		<h2>新闻动态</h2>
		<ul id="left_menu">
			<nanbo table="NewsCategory" where="is_hidden=0" value="v" order="sort desc">
			<li><a href="{:U('News/index?id='.$v['id'])}">{$v['title']}</a></li>
			</nanbo>
		</ul>

	</div>

	<div id="right" class="sidebox">
		<h2>
			<span>当前位置：首页 &gt; 新闻动态</span>新闻动态
		</h2>
		<ul id="news">
		{foreach $newsList as $v}
				<li><a href="{:U('News/read?id='.$v['id'])}" target="blank"><span>[{:date('Y-m-d',strtotime($v['create_time']))}]</span>{$v['title']}</a></li>
		{/foreach}
		</ul>
		<div class="page">
			{$page}
		</div>
		
	</div>


	{include "Public/footer"}